<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>ChatGPT Interface</title>
</head>

<body>

  <h1>ChatGPT Interface</h1>

  <h3>Input</h3>
  <form action="/chat-request" method="post">
    <label for="message">Enter your message</label>
    <br>
    <input type="text" id="user-input" name="message" placeholder="Type here..." />
    <br>
    <br>
    <label for="model">Choose a model:</label>
    <select id="models" name="model">
      <% if (selectedModel !== undefined) { %>
      <option selected value="<%=selectedModel%>"><%=selectedModel%></option>
      <% } %>
      <% if (Array.isArray(models.data)) { %>
      <% for (model of models.data) {  %>
      <option value="<%=model.id%>"><%=model.id%></option>
      <% } %>
      <% } else { %>
      <option value="Could not load models list">Could not load models list</option>
      <% } %>
    </select>
    <br>
    <br>
    <button type="submit">Submit</button>

  </form>

  <h3>Output</h3>
  <div id="outputArea" name="outputArea">
    <p> <% if (Array.isArray(chatMessages)) { %>
      <%= chatMessages[0].message.content %></p>
    <% } else { %>
    <p><%= chatMessages %></p>
    <% } %>
  </div>

  <!-- Upload files -->
  <!-- List of uploaded files -->
  <!-- Delete a file -->

  <!-- Images -->
</body>

</html>